
    <div class="container">
 
   <h1>{{element.name}}</h1>

  <div class="container_data">
  Height: <p>{{element.height}}cms.</p>
 </div> 
 <div class="container_data">
  Mass: <p>{{element.mass}}kgs.</p>
  </div>
  <div class="container_data">
  Hair color: <p>{{element.hair_color}}</p>
  </div>
  <div class="container_data">
  Skin color: <p>{{element.skin_color}}</p>
  </div>
  <div class="container_data">
  Eye color: <p>{{element.eye_color}}</p>
  </div>
  <div class="container_data">
  Birth year: <p>{{element.birth_year}}</p>
  </div>
  <div class="container_data">
  Gender: <p>{{element.gender}}</p>
  </div>

    

